<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ulima cloud</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <h1>Demostración cloud: IaaS</h1>
  <form method="post" action="/item/add">
    <label for="name">Nombre</label>
    <input type="text" name="name">
    <input type="submit" value="Agregar">
  </form>
  <h4>Items:</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
  </ul>
</body>

</html>